data/*
am_fam/checkpoint/*
fusionm4net/multimodal_FusionM4Net*/*
fusionm4net/__pycache__/
fusionm4net/*.npy
am_fam/results/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
_fusionnet/result_prev/*
split_learning/pytorch_resnet_cifar10/pretrained_models/*
split_learning/result*/*
models/*
fusionnet_split_learning/result*/*
cifar10_data/*
